body, html, .flex-container {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', 'Open Sans', 'Roboto', Arial;
    background: #333333;
    color: #e2e2e2;
}

.center{text-align: center;}

.flaghead{    
    font-size: 16pt;
    font-weight: lighter;
}

input{
    color: #333333;
}