body, html, .flex-container {
    width: 100%;
    min-height: 100%;
    font-family: 'Segoe UI', 'Open Sans', 'Roboto', Arial;
    background: #333333;
    color: #e2e2e2;
    font-size: 16pt;
    font-weight: lighter;
}

.center{text-align: center;}

.logo-img {
    max-height: 200px;
    max-width: 100%;
    margin-top: 30px;
}

#mc-embedded-subscribe-form {
    margin: 0!important;
    padding: 0!important;
}

input {
    color: #333333;
}

.blanklink:link, .blanklink:visited, .blanklink:hover {
    color:white;
    text-decoration: underline;
}

a, a:link, a:visited, a:active, a:hover {
    color: white;
}